*{
    margin: 0%;
    padding: 0%;

}
.header{
  display: inline-block;
  padding: 10px 18px;
  background-color: #F9CD05;
  border-radius: 14px;
  border: 3px solid black ;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}
.footer{
    text-align: center;
    padding: 12px;
    /* font-size: 14px; */
    color: black;
    font-weight: 600;
    font-size: large;
  
}

.p{
    border: 5px solid rgba(249,205,5,0.6);
    padding: 10px;
    width: 80%;
    margin:15px 140px 20px 140px;
    height:500px;
    display: flex;
    line-height: 1.5;
    font-weight: 600;
    font-size: large;
}
p{
    border: 2px solid blue;
    padding: 20px;
    width: 90%;
}
.p .images{
    display: flex;
    flex-wrap: wrap;

}
.images img{
  width: 200px;
  margin: 5px 15px 5px 15px;
  border-radius:30px;
  
}
body{
    background-color: whitesmoke;
}




    
